<nav class="navbar navbar-expand-lg mb-3 h-95">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 nav" [routerLink]="['/home']"><img src=" ../../../assets/images/logo.png" alt=""
        class="image"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent" *ngIf="user.name">
      <ul class="navbar-nav">
        <li class="nav-item ms-4">
          <a class="nav-link text-center text" routerLinkActive="active" [routerLink]="['/allWines']">Vinos</a>
        </li>
      </ul>
      <form class="d-flex" role="search" #SearchForm="ngForm" (ngSubmit)="onSubmit(SearchForm)">
        <input class="form-control me-2" list="wine" placeholder="Buscar vino ..." name="addWine" ngModel>
        <datalist id="wine">
          <option value="{{wine?.name}}" *ngFor="let wine of wines">
        </datalist>
        <button class="btn btn-outline-success" type="submit">Añadir</button>
      </form>
      <ul class="navbar-nav ms-4">
        <li class="nav-item">
          <a class="nav-link text-center text" routerLinkActive="active" [routerLink]="['/user']">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center text" (click)="onClickLogOut()" routerLinkActive="active">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>