<section class="container">
  <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="">
    <h3 class="text-center">Recuperar contraseña</h3>
    <div class="">
      <label for="password" class="form-label">Contraseña</label>
      <input class="form-control" type="password" id="password" formControlName="password"
        placeholder="Introduce la contraseña" autocomplete="on">
    </div>
    <div class="">
      <label for="controlPassword" class="form-label">Confirma la contraseña</label>
      <input type="password" id="controlPassword" class="form-control" placeholder="Repite la contraseña"
        formControlName="controlPassword" autocomplete="on">
    </div>
    <button type="submit" class="btn">Modificar</button>
  </form>
</section>