<div class="wine d-flex justify-content-around mt-5">
  <img [src]="'http://localhost:3000/images/' + wine?.photo" class="image me-3" [alt]="wine?.name">
  <div class="contents mt-2 flex-fill">
    <div>
      <h5>{{wine?.name}}</h5>
      <p>{{wine?.type}}
      <p>{{wine?.elaborationArea}}
      <p>{{wine?.nameOrigin}}
      <p>{{wine?.nameWineCellar}}
      </p>
    </div>
    <div class="d-flex justify-content-between" *ngIf="this.miWine.favorite !== undefined">
      <p>Catado: <i class="icon tasted ms-2 h5 {{taste}}" (click)="isTasted()"></i></p>
      <i class="icon favorite {{favorite}}" (click)="isFavorite()"></i>
      <i class="icon delete bi bi-trash3" (click)="delete()"></i>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <button class="btn btn-outline-info" [routerLink]="['/wine', wine?.id]">Ver mas</button>
    </div>
    <p class="add"><i class="bi bi-patch-plus h3 icon" *ngIf="this.miWine.favorite === undefined"
        (click)=onSubmit()></i></p>
  </div>
</div>