.wine {
  position: relative;
}

.icon {
  cursor: pointer;
}

.icon.favorite {
  position: absolute;
  top: 3%;
  left: 5%;
  color: rgb(160, 32, 55);
}

.icon.delete {
  position: absolute;
  bottom: 0%;
  right: 0%;
  color: rgb(160, 32, 55);
}

.add {
  position: absolute;
  top: -15%;
  right: -2%;
  color: rgb(160, 32, 55);
}

.image {
  width: 18vh;
  height: 25vh;
  border-radius: 10px;
}

.contents {
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn.btn-outline-info {
  color: #20A28A;
  border-color: #20A28A;
}

.btn.btn-outline-info:hover {
  color: white;
  border-color: #20A28A;
  background-color: #20A28A;
}

.btn.btn-outline-info:focus {
  color: white;
  border-color: #20A28A;
  background-color: #20A28A;
  box-shadow: 2px 2px 2px 2px #20a28a5c;
}

h5 {
  color: rgb(160, 32, 55);
}

p {
  color: #20A28A;
  margin-left: 8%;
  margin-bottom: 0;
}