<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div>
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" autocomplete="on">
    </div>
    <button type="submit" class="btn">Acceder</button>
    <div>
      <a [routerLink]="['/recoverPassword']" class="me-3">Olvidé la contraseña</a>
      <a [routerLink]="['/newUser']">Registro</a>
    </div>
  </form>
</div>