.btn.btn-outline-info {
  color: #20A28A;
  border-color: #20A28A;
}

.btn.btn-outline-info:hover {
  color: white;
  border-color: #20A28A;
  background-color: #20A28A;
}

.btn.btn-outline-info:focus {
  color: white;
  border-color: #20A28A;
  background-color: #20A28A;
  box-shadow: 2px 2px 2px 2px #20a28a5c;
}

label {
  color: #20A28A;
}

input {
  border-color: rgb(160, 32, 55);
}

input::placeholder {
  color: #20A28A;
}

.form-control:focus {
  border-color: #20A28A;
  box-shadow: 2px 2px 2px 2px #20a28a8f;
}