<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div>
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div>
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" autocomplete="on">
    </div>
    <div class="">
      <label for="controlPassword" class="form-label">Confirma la contraseña</label>
      <input type="password" id="controlPassword" class="form-control" placeholder="Repite la contraseña"
        formControlName="controlPassword" autocomplete="on">
    </div>
    <button type="submit" class="btn">Enviar</button>
  </form>
</div>